* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222438;
}

.navigation {
    /* background-color:orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
    height: 70px;
    box-shadow:0 2px 2px 0px black;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style:none;
}

.navlist a {
    color: white;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    /* 1rem = 16px  */
}

.code {
    color: tomato;
}

.container{
    /* background-color: red; */
    padding: 50px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    /* background-color: yellow; */
    height: auto;
    width:fit-content;
}

.heading h1{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.description{
    /* background-color: aquamarine; */
    height: auto;
    width: fit-content;
}

/* .description p:first-child{
    font-size: 18px;
    color: white;
} */
.description p{
    font-size: 18px;
    color: white;
}

.button-container{
    /* background-color: red; */
    width:auto;
    height: auto;
    margin-top: 20px;
}

.button-container button{
    padding: 1rem 2rem;
    background-color:tomato;
    border: none;
    &:hover{
        background-color: #f95336;
        cursor: pointer;
    }
}

.button-container button a{
    font-size: 1rem;
    color: white;
}

.left-content{
    width: 50%;
    height: auto;
}

.right-content{
    width: 50%;
    height: auto;
}

@media (max-width:600px){
    .navigation{
        width: 100%;
        padding: 0 10px;
    }
    .navlist{
        display: none;
    }

    .container{
        flex-direction: column;
        padding: 10px;
    }

    .left-content{
        width: 100%;
        /* background-color: red; */
    }

    .right-content{
        width: 100%;
    }

    .image-container{
        margin-top: 20px;
    }
}